---
layout: default
---

<ul class="posts">
  <li class="post">
    {{ content }}
  </li>
</ul>

<div id="side">
  <!-- Google Custom Search Element -->
  <div id="cse" style="width:100%;">Loading</div>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
    google.load('search', '1');
    google.setOnLoadCallback(function(){
      new google.search.CustomSearchControl('014833945590601956149:dzk6i0prdom').draw('cse');
    }, true);
  </script>

  <h2>Featured Projects</h2>
  <ul class="featured-projects">
    <li>
      <a target="_new" href="http://2manycolours.com"><img src="/images/2manycolours_logo.png" alt="2manycolours LOGO" width="60" /></a>      
      <h3>2ManyColours</h3>
      <p>It's all about your Style! </p>
    </li>
    <li>
      <a target="_new" href="http://gameone.de"><img src="/images/gameone.png" width="100" alt="gameone LOGO" /></a>
      <h3>GameOne - MTV</h3>
      <p>MTV GameOne - Die Blog- und Community-Seite zur ersten Games TV-Sendung auf MTV.</p>
    </li>
    <li>
      <a target="_new" href="http://http://mtvhome.de/"><img src="/images/MTV_HOME.jpg" width="100" alt="MTV - HOME LOGO" /></a>      
      <h3>MTVHome - MTV</h3>
      <p>
        MTV Home íst einer der vielen Microsites die auf dem MTV eigenen Microsite-CMS besteht.
      </p>
    </li>
    <li>
      <a target="_new" href="http://clubnick.de"><img src="/images/clubnick.png" width="100" alt="MTV CLUBNICK -LOGO" /></a>
      <h3>ClubNick - MTV</h3>
      <p>
        Spiele- und Lernplattform für Kinder.
      </p>
    </li>    
  </ul>

  <h2>Twitter</h2>
  <div id="tweet">Please Enable your Javascript</div>

</div>