---
layout: default
---

<ul class="posts">
  <li class="post">
    {{ content }}
  </li>
  <li>
    <p class="postmetadata alt">
		  <span class="addthis_toolbox addthis_default_style">
			  <a class="addthis_button_facebook">
			   <img src="/images/addthis/facebook_16.png"/>
			  </a>
        <a class="addthis_button_twitter">
          <img src="/images/addthis/twitter_16.png"/>
        </a>
        <a class="addthis_button_misterwong_de"></a>
        <a class="addthis_button_myspace">
          <img src="/images/addthis/myspace_16.png"/>
        </a>
        <a class="addthis_button_wordpress">
          <img src="/images/addthis/wordpress_16.png"/>
        </a>
        <a class="addthis_button_digg">
          <img src="/images/addthis/digg_16.png"/>
        </a>
        <span class="addthis_separator">|</span>
        <a class="addthis_button_expanded">More</a>
        <span class="spezial">
          <a class="addthis_button_email"></a>
          <a class="addthis_button_print"></a>
        </span>
      </span>
    </p>
  </li>
  <li>
    <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/kallesaas/embed.js"></script><noscript><a href="http://kallesaas.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </li>
</ul>

<div id="side">
  
  <!-- Google Custom Search Element -->
  <div id="cse" style="width:100%;">Loading</div>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
    google.load('search', '1');
    google.setOnLoadCallback(function(){
      new google.search.CustomSearchControl('014833945590601956149:dzk6i0prdom').draw('cse');
    }, true);
  </script>
  
  <h2>RSS-Feed</h2>
  <p><a href="http://feeds.feedburner.com/kalle-saas" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/kalle-saas" rel="alternate" type="application/rss+xml">Subscribe in a reader</a></p>
  
  <h2>Featured Projects</h2>
  <ul class="links">
    <li>
      <a target="_new" href="http://2manycolours.com"><img src="/images/2manycolours_logo.png" alt="2manycolours LOGO" width="60" /></a>      
      <h3><a target="_new" href="http://2manycolours.com">2ManyColours</a></h3>
      <p>Mass Customization Fashion Label from Germany</p>
    </li>
    <li>
      <a target="_new" href="http://gameone.de"><img src="/images/gameone.png" width="100" alt="gameone LOGO" /></a>
      <h3><a target="_new" href="http://gameone.de">GameOne - MTV</a></h3>
      <p>Blog- and Community site for the first Game-TV-Show on MTV Germany.</p>
    </li>
    <li>
      <a target="_new" href="http://mtvhome.de/"><img src="/images/MTV_HOME.jpg" width="100" alt="MTV - HOME LOGO" /></a>
      <h3><a target="_new" href="http://mtvhome.de/">MTVHome - MTV</a></h3>
      <p>
        MTV Home is one of MTV Microsite's wich runs on the new developed Rails-Microsite-Engine at MTV Germany.
      </p>
    </li>
    <li>
      <a target="_new" href="http://clubnick.de"><img src="/images/clubnick.png" width="100" alt="MTV CLUBNICK -LOGO" /></a>
      <h3><a target="_new" href="http://clubnick.de">ClubNick - MTV</a></h3>
      <p>
        Game-Based Learning Platform for kids.
      </p>
    </li>    
  </ul>
  
  <h2>Family & Friends</h2>
  <ul class="links">
    <li>
      <h3><a target="_new" href="http://lottasaas.com">http://lottasaas.com</a></h3>
      <p>Modéliste . Creative Pattern Cutter</p>
    </li>    
    <li>
      <h3><a target="_new" href="http://rubyphunk.com/">http://rubyphunk.com/</a></h3>
      <p>Rails Programmer</p>
    </li>        
    <li>
      <h3><a target="_new" href="http://manuelmeurer.com/">http://manuelmeurer.com/</a></h3>
      <p>Rails Programmer</p>
    </li>        
  </ul>  

  <h2>Twitter</h2>
  <div id="tweet">Please Enable your Javascript</div>

</div>